
<!DOCTYPE html>
<html lang="en" ng-app='ehealth'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Pouch DB ToDo List App</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body ng-controller='TodoCtrl'>

    <div class="container">
      <div class="header clearfix">
         <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">MY TODO LIST</h3>
      </div>

      <div class="jumbotron">
        <form class="form-inline">
        <div class="form-group">
        <input type='text' ng-model='add_to_pouch' class="form-control" />
        <button style="display: inline-block;" class="btn btn-primary btn-sm" ng-click="addtodo()">Add TODO</button>

        </div>
      </form>
        
        <table class="table">
          <tr ng-repeat="todo in todos">
            <td> <span class="text-primary text-uppercase">{{todo.doc.sample}} </span> <span><small><i> created {{todo.doc.date}} </i></small></spam><button type="button" aria-label="Close" class="close" ng-click="removetodo(todo.doc._id)"><span aria-hidden="true">&times;</span></button></td>
          </tr>
        </table>
      </div>

      <footer class="footer">
        <p>App developed by tunbola.</p>
      </footer>

    </div> <!-- /container -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/pouchdb/dist/pouchdb.js"></script>
<script src="bower_components/angular-pouchdb/angular-pouchdb.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="service.js"></script>
  </body>
</html>
